body {
    margin: 0px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    font-size: 3em;
    
   
    font-family: 'Permanent Marker', cursive;
    /* sacado de googlefonts tambien hay en html
    https://fonts.google.com/specimen/Permanent+Marker */
}
html{
    scroll-behavior: smooth;
}
/* Paleta de colores aprox https://www.blissworld.com/ */

header, main, aside, footer {
    padding: 0em;
   
}

header {
    /* background-color: #BBA6DD; */
    background-color: green;
    /* fondo temporario en verde para ver cambio responsive, despues de anula */

    display: flex;
    flex-direction: center;
    align-items: center;
    width: 100%;
    position: fixed;

}

nav {
  float: center;
  width: 100%;
}

nav ul {
    float: left;
    margin-bottom: 0px;
    padding-left: 5%;
  
    margin-top: 0%;
    font-size: 1.5em;
 
}
nav ul a:hover {
    color:#d37f11;
    font-size: 1.1em;
    }

header a {
    text-decoration: none;
    font-size: 1em;
  
}


/* *****************************
menu hamburguesa responsive - inicio
**************************** */

.menu ul {
    display: block;
}
.menu ul li {
display: block;
height: 25px;
}
.menu ul li a {
    display: block;
    
    transition: all 0.4s linear;
    font-size: 1rem;

    
}

#menuHamburguesa {
    display: block;
    }

#menuHamburguesa-check:not(:checked) ~ nav{
    display: none;
}
#menuHamburguesa-check:checked ~ nav{
    display: block;
} 
#menuHamburguesa-check {
    display: none; 
}
#menuHamburguesa:hover {
    color: aqua;
}

#menuHamburguesa-check:checked ~ label #menuHamburguesa-abrir {
    display: none;
}
#menuHamburguesa-check:checked ~ label #menuHamburguesa-cerrar {
    display: block;
}

#menuHamburguesa-check:not(:checked) ~ label #menuHamburguesa-abrir {
    display: block;
}
#menuHamburguesa-check:not(:checked) ~ label #menuHamburguesa-cerrar {
    display: none;
} 

/* *****************************
menu hamburguesa responsive - FIN
**************************** */

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    background-color: rgba(59, 130, 246, .5);
    font-size: 0.4em;
}
main {
    margin-top: 0%;
    margin-left: 0%;
    padding-left: 10%;
    background-color: rgba(59, 130, 246, .5);
    flex-grow: 1;
    padding-top: 166px;
    height: 550px;
    background-image: linear-gradient(0deg,rgb(0,0,0,0.5),rgb(0,0,0,0.5))
    ,url("grupo-amigos-bailando-dia-soleado-al-aire-libre-min.jpg") ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
}
main h1 {
    color: azure;
    font-size: 1.55em;
}
aside {
    background-color: #584d8f;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 8%;
    padding-right: 0%;
}

.lineup {
    
    height: 715px;
    background-image: linear-gradient(0deg,rgb(0,0,0,0.5),rgb(0,0,0,0.5))
    ,url("cerca-grabacion-video-telefono-inteligente-concierto-imagen-entonada-min.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center; 
    padding-left: 10%;
}
.lineup h1{
   
    margin: 0;
    color: azure;
    font-size: 1em;
}
.lineup h3{
    color: azure;
    font-size: 2rem;
}
.lineup p{
    color: azure;
    font-size: 2rem;
}
.entradas {
    height: 715px;
    background-image: linear-gradient(90deg,rgb(0,0,0,1),rgb(0,0,0,0.1))
    ,url("par-pie-multitud-festival-musica-min.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-left: 10%;
    background-color:  rgba(59, 130, 246, .5);
    padding-left: 10%;
    font-size: 2rem;
    
}
.entradas h1 {
    color: azure;
    font-size: 2.5rem;
}

.entradas label{
    color: azure;
    font-size: 1.5rem;
}
.ubicacion {
    height: 750px;
    background-image: linear-gradient(0deg,rgb(0,0,0, 0.5),rgb(0,0,0,0.5))
    ,url("festival-musica-verano-que-atrae-mucha-gente-min.jpg") ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
    padding-left: 10%;
    background-color:  rgba(59, 130, 246, 0.9);

}
.ubicacion h1 {
    color: azure;
    font-size: 2rem;
}
.contacto{
        display: flex;
        flex-direction: column;
        height: 750px;
        background-image: linear-gradient(90deg,rgb(0,0,0,1),rgb(0,0,0,0.1))
        ,url("audiencia-emocionada-viendo-fuegos-artificiales-confeti-divirtiendose-festival-musica-noche-copiar-espacio-min.jpg") ;
        background-repeat: no-repeat;
        background-size: cover ;
        background-position: center center;
        padding-left: 10%;
        background-color:  rgba(59, 130, 246, .5);
    
    }
    .contacto h1 {
        color: azure;
        font-size: 1em;
    }
    .contacto label {
        color: azure;
        font-size: 1em;
    }
footer {
    background-color: #8cd0e3;
    margin-left: 0%;
    padding-left: 10%;
    display: flex;
        }

    footer ul{
        color:rgba(131, 3, 151, 0.839);
      text-decoration: none;
    }
    

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
    main {
        width: 75vw;
    }
    aside{
        width: 25vw;
        padding-top: 185px;
    }

    header {
        
        flex-direction: center;
        justify-content: space-between;

    }
    header {
        background-color: #BBA6DD;}

        nav ul {
        display: flex;
     
    }
    nav li {
        padding: 0.5em;
    
    }
    .menu ul li a {

        font-size: 1.4rem;
    
        
    }
    .logo {
    display: flex;

    }
    /* Pruebas para nav bar diribuido a la derecha del logo */
   /* nav {
    display: flex;
    text-align: justify;
    justify-content: space-between;
   }
.encabezado {
    justify-content: space-between;
} */

   /* +++++++++++++++++++++++++++ */
    .menu{
        display: block;
    }
    .menu ul{
        display: flex;
                   }
 
    #menuHamburguesa, #menu-check {
        display: none;
    }
    #menuHamburguesa-check:not(:checked) ~ nav{
        display: block;
    }
    #menuHamburguesa-check:checked ~ nav{
        display: block;
    } 
    }